.background__fifthSection {
  background-image: url("../img/section_five/background_fifth_section.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 57px;
  height: auto;
}

.container__header__fifthSection {
  max-width: 1097px;
  width: 100%;
  margin: auto;
  display: grid;
  place-items: center;
}

.container__header__fifthSection h2 {
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 119px;
  letter-spacing: normal;
  color: var(--white);
  /* background-image: url("../img/section_five/oval_yellow_dark.svg");
  background-repeat: no-repeat; */
  background-position: center left;
  padding-left: 10px;
  margin-bottom: 38px;
}

.container__header__fifthSection span {
  color: var(--letter-yellow);
}

.container__header__fifthSection p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  margin: 0px 0px 57px 0px;
}

.container__general__info__form {
  max-width: 1097px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.container__contact_section {
  max-width: 43%;
  /*resto es 57%*/
  width: 100%;
}

.card__contact__fifthSection {
  display: flex;
  flex-direction: row;
  margin-bottom: 39px;
}

.card__contact__fifthSection:last-child {
  margin-bottom: 0px;
}

.card__contact__container_icon {
  width: 41px;
  height: 41px;
  margin-right: 10px;
}

.card__contact__container_info {
  display: flex;
  flex-direction: column;
}

.card__contact__container_info p {
  max-width: 300px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 12px 0px;
}

.card__contact__container_info a {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--link-yellow);
  margin-bottom: 4px;
}

.card__contact__container_info span {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--link-yellow);
}

form {
  display: contents;
}

.container__form__fifthSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content__item__form_input {
  max-width: 47%;
  width: 100%;
  height: 68px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.content__item__form_textarea {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 31px;
  display: flex;
  flex-direction: column;
}

.content__item__form_input label {
  margin-bottom: 6px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}
.content__item__form_textarea label {
  margin-bottom: 6px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}

.content__item__form_input input {
  background: transparent;
  color: var(--white);
  border: solid 1px #e3eaf2;
  border-radius: 24px;
  max-width: 278px;
  height: 42px;
  font-size: 16px;
  padding: 0px 15px;
  margin: 0px;
}
.content__item__form_textarea textarea {
  background: transparent;
  color: var(--white);
  border: solid 1px #e3eaf2;
  border-radius: 24px;
  max-width: 100%;
  min-height: 91px;
  font-size: 16px;
  padding: 10px 15px;
  margin: 0px;
}

.width_100 {
  max-width: 100% !important;
  width: 100%;
}

.width_100 input {
  max-width: 100% !important;
}

.content__item__form_input input:focus {
  outline: none;
}

.content__item__form_textarea textarea:focus {
  outline: none;
}

.content__item__form_input input:active {
  background: transparent;
  color: var(--white);
}

.content__item__form_textarea textarea:active {
  background: transparent;
  color: var(--white);
}

.container__btn_submit {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 78px;
}

/* FOOTER */
footer {
  width: 100%;
  background: #131816;
  min-height: 58px;
  display: grid;
  place-items: center;
}

footer span {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

/* RESPONSIVE */

@media only screen and (max-width: 1160px) {
  .background__fifthSection {
    padding-left: 21px;
    padding-right: 21px;
  }
}

@media only screen and (max-width: 960px) {
  .container__contact_section {
    padding-right: 15px;
  }

  .container__header__fifthSection h2 {
    font-size: 28px;
    line-height: 100px;
    background-size: contain;
  }
}

@media only screen and (max-width: 768px) {
  .background__fifthSection {
    padding-left: 21px;
    padding-right: 21px;
  }

  .container__general__info__form {
    flex-direction: column;
  }

  .container__contact_section {
    margin-bottom: 34px;
    max-width: 100%;
  }

  .content__item__form_input {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .content__item__form_input input {
    max-width: 100%;
  }

  .container__header__fifthSection p {
    text-align: justify;
  }

  .container__header__fifthSection h2 {
    margin-bottom: 0px;
  }

  footer span {
    line-height: 3.86;
    padding-left: 15px;
}

}

@media only screen and (max-width: 361px) {
  .container__header__fifthSection h2 {
    font-size: 27px;
  }
}
